<template>
    <div>
        <p>Component B</p>
        <p>{{ username }}</p>
        <p>{{ password }}</p>
        <Component-c />
    </div>
</template>

<script>
import ComponentC from './ComponentC.vue';
    export default {
        name: 'ComponentB',
        inject:['username','password'],
        components: {
            ComponentC,
        },
    }
</script>